includes:
  - rules.neon

parametersSchema:
  yiiPolicy: structure([
    allowedSaveFalseNamespaces: listOf(string()),
  ])

parameters:
  yiiPolicy:
    allowedSaveFalseNamespaces:
      - console\migrations
