services:
  vixPhpstan.php.rules.disabledSslVerification.inner:
    class: Vix\PhpstanRules\Rules\DisabledSslVerificationRule

  vixPhpstan.php.rules.disabledSslVerification:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.php.rules.disabledSslVerification.inner
      ruleName: disabledSslVerification
      allRules: %vixPhpstan.php.rules.all%
      enabledRules: %vixPhpstan.php.rules%
    tags:
      - phpstan.rules.rule

  vixPhpstan.php.rules.httpClientWithoutTimeout.inner:
    class: Vix\PhpstanRules\Rules\HttpClientWithoutTimeoutRule

  vixPhpstan.php.rules.httpClientWithoutTimeout:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.php.rules.httpClientWithoutTimeout.inner
      ruleName: httpClientWithoutTimeout
      allRules: %vixPhpstan.php.rules.all%
      enabledRules: %vixPhpstan.php.rules%
    tags:
      - phpstan.rules.rule

  vixPhpstan.php.rules.remoteFileGetContents.inner:
    class: Vix\PhpstanRules\Rules\RemoteFileGetContentsRule

  vixPhpstan.php.rules.remoteFileGetContents:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.php.rules.remoteFileGetContents.inner
      ruleName: remoteFileGetContents
      allRules: %vixPhpstan.php.rules.all%
      enabledRules: %vixPhpstan.php.rules%
    tags:
      - phpstan.rules.rule

  vixPhpstan.yii2.rules.activeDataProviderWithoutPagination.inner:
    class: Vix\PhpstanRules\Rules\ActiveDataProviderWithoutPaginationRule

  vixPhpstan.yii2.rules.activeDataProviderWithoutPagination:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.yii2.rules.activeDataProviderWithoutPagination.inner
      ruleName: activeDataProviderWithoutPagination
      allRules: %vixPhpstan.yii2.rules.all%
      enabledRules: %vixPhpstan.yii2.rules%
    tags:
      - phpstan.rules.rule

  vixPhpstan.yii2.rules.componentInitParentCall.inner:
    class: Vix\PhpstanRules\Rules\ComponentInitParentCallRule

  vixPhpstan.yii2.rules.componentInitParentCall:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.yii2.rules.componentInitParentCall.inner
      ruleName: componentInitParentCall
      allRules: %vixPhpstan.yii2.rules.all%
      enabledRules: %vixPhpstan.yii2.rules%
    tags:
      - phpstan.rules.rule

  vixPhpstan.yii2.rules.controllerBeforeActionParentResultIgnored.inner:
    class: Vix\PhpstanRules\Rules\ControllerBeforeActionParentResultIgnoredRule

  vixPhpstan.yii2.rules.controllerBeforeActionParentResultIgnored:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.yii2.rules.controllerBeforeActionParentResultIgnored.inner
      ruleName: controllerBeforeActionParentResultIgnored
      allRules: %vixPhpstan.yii2.rules.all%
      enabledRules: %vixPhpstan.yii2.rules%
    tags:
      - phpstan.rules.rule

  vixPhpstan.yii2.rules.webControllerOnlyActions.inner:
    class: Vix\PhpstanRules\Rules\WebControllerOnlyActionsRule

  vixPhpstan.yii2.rules.webControllerOnlyActions:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.yii2.rules.webControllerOnlyActions.inner
      ruleName: webControllerOnlyActions
      allRules: %vixPhpstan.yii2.rules.all%
      enabledRules: %vixPhpstan.yii2.rules%
    tags:
      - phpstan.rules.rule

  vixPhpstan.yii2.rules.csrfDisabledWithoutCompensatingControl.inner:
    class: Vix\PhpstanRules\Rules\CsrfDisabledWithoutCompensatingControlRule

  vixPhpstan.yii2.rules.csrfDisabledWithoutCompensatingControl:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.yii2.rules.csrfDisabledWithoutCompensatingControl.inner
      ruleName: csrfDisabledWithoutCompensatingControl
      allRules: %vixPhpstan.yii2.rules.all%
      enabledRules: %vixPhpstan.yii2.rules%
    tags:
      - phpstan.rules.rule

  vixPhpstan.yii2.rules.deleteAllOrUpdateAllWithoutWhere.inner:
    class: Vix\PhpstanRules\Rules\DeleteAllOrUpdateAllWithoutWhereRule

  vixPhpstan.yii2.rules.deleteAllOrUpdateAllWithoutWhere:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.yii2.rules.deleteAllOrUpdateAllWithoutWhere.inner
      ruleName: deleteAllOrUpdateAllWithoutWhere
      allRules: %vixPhpstan.yii2.rules.all%
      enabledRules: %vixPhpstan.yii2.rules%
    tags:
      - phpstan.rules.rule

  vixPhpstan.yii2.rules.fileValidatorTooLoose.inner:
    class: Vix\PhpstanRules\Rules\FileValidatorTooLooseRule

  vixPhpstan.yii2.rules.fileValidatorTooLoose:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.yii2.rules.fileValidatorTooLoose.inner
      ruleName: fileValidatorTooLoose
      allRules: %vixPhpstan.yii2.rules.all%
      enabledRules: %vixPhpstan.yii2.rules%
    tags:
      - phpstan.rules.rule

  vixPhpstan.yii2.rules.imageValidatorTooLoose.inner:
    class: Vix\PhpstanRules\Rules\ImageValidatorTooLooseRule

  vixPhpstan.yii2.rules.imageValidatorTooLoose:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.yii2.rules.imageValidatorTooLoose.inner
      ruleName: imageValidatorTooLoose
      allRules: %vixPhpstan.yii2.rules.all%
      enabledRules: %vixPhpstan.yii2.rules%
    tags:
      - phpstan.rules.rule

  vixPhpstan.yii2.rules.lifecycleParentCall.inner:
    class: Vix\PhpstanRules\Rules\LifecycleParentCallRule

  vixPhpstan.yii2.rules.lifecycleParentCall:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.yii2.rules.lifecycleParentCall.inner
      ruleName: lifecycleParentCall
      allRules: %vixPhpstan.yii2.rules.all%
      enabledRules: %vixPhpstan.yii2.rules%
    tags:
      - phpstan.rules.rule

  vixPhpstan.yii2.rules.lifecycleSelfSave.inner:
    class: Vix\PhpstanRules\Rules\LifecycleSelfSaveRule

  vixPhpstan.yii2.rules.lifecycleSelfSave:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.yii2.rules.lifecycleSelfSave.inner
      ruleName: lifecycleSelfSave
      allRules: %vixPhpstan.yii2.rules.all%
      enabledRules: %vixPhpstan.yii2.rules%
    tags:
      - phpstan.rules.rule

  vixPhpstan.yii2.rules.massSelectionWithoutLimit.inner:
    class: Vix\PhpstanRules\Rules\MassSelectionWithoutLimitRule

  vixPhpstan.yii2.rules.massSelectionWithoutLimit:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.yii2.rules.massSelectionWithoutLimit.inner
      ruleName: massSelectionWithoutLimit
      allRules: %vixPhpstan.yii2.rules.all%
      enabledRules: %vixPhpstan.yii2.rules%
    tags:
      - phpstan.rules.rule

  vixPhpstan.yii2.rules.missingAccessRule.inner:
    class: Vix\PhpstanRules\Rules\MissingAccessRule

  vixPhpstan.yii2.rules.missingAccessRule:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.yii2.rules.missingAccessRule.inner
      ruleName: missingAccessRule
      allRules: %vixPhpstan.yii2.rules.all%
      enabledRules: %vixPhpstan.yii2.rules%
    tags:
      - phpstan.rules.rule

  vixPhpstan.yii2.rules.missingAjaxFilterRule.inner:
    class: Vix\PhpstanRules\Rules\MissingAjaxFilterRule

  vixPhpstan.yii2.rules.missingAjaxFilterRule:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.yii2.rules.missingAjaxFilterRule.inner
      ruleName: missingAjaxFilterRule
      allRules: %vixPhpstan.yii2.rules.all%
      enabledRules: %vixPhpstan.yii2.rules%
    tags:
      - phpstan.rules.rule

  vixPhpstan.yii2.rules.missingVerbFilterRule.inner:
    class: Vix\PhpstanRules\Rules\MissingVerbFilterRule

  vixPhpstan.yii2.rules.missingVerbFilterRule:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.yii2.rules.missingVerbFilterRule.inner
      ruleName: missingVerbFilterRule
      allRules: %vixPhpstan.yii2.rules.all%
      enabledRules: %vixPhpstan.yii2.rules%
    tags:
      - phpstan.rules.rule

  vixPhpstan.yii2.rules.mixedResponseTypesInAction.inner:
    class: Vix\PhpstanRules\Rules\MixedResponseTypesInActionRule

  vixPhpstan.yii2.rules.mixedResponseTypesInAction:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.yii2.rules.mixedResponseTypesInAction.inner
      ruleName: mixedResponseTypesInAction
      allRules: %vixPhpstan.yii2.rules.all%
      enabledRules: %vixPhpstan.yii2.rules%
    tags:
      - phpstan.rules.rule

  vixPhpstan.yii2.rules.mutatingActionAllowsGet.inner:
    class: Vix\PhpstanRules\Rules\MutatingActionAllowsGetRule

  vixPhpstan.yii2.rules.mutatingActionAllowsGet:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.yii2.rules.mutatingActionAllowsGet.inner
      ruleName: mutatingActionAllowsGet
      allRules: %vixPhpstan.yii2.rules.all%
      enabledRules: %vixPhpstan.yii2.rules%
    tags:
      - phpstan.rules.rule

  vixPhpstan.yii2.rules.nPlusOneRelationInLoop.inner:
    class: Vix\PhpstanRules\Rules\NPlusOneRelationInLoopRule
    arguments:
      reflectionProvider: @reflectionProvider

  vixPhpstan.yii2.rules.nPlusOneRelationInLoop:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.yii2.rules.nPlusOneRelationInLoop.inner
      ruleName: nPlusOneRelationInLoop
      allRules: %vixPhpstan.yii2.rules.all%
      enabledRules: %vixPhpstan.yii2.rules%
    tags:
      - phpstan.rules.rule

  vixPhpstan.yii2.rules.nativeHeaderInController.inner:
    class: Vix\PhpstanRules\Rules\NativeHeaderInControllerRule

  vixPhpstan.yii2.rules.nativeHeaderInController:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.yii2.rules.nativeHeaderInController.inner
      ruleName: nativeHeaderInController
      allRules: %vixPhpstan.yii2.rules.all%
      enabledRules: %vixPhpstan.yii2.rules%
    tags:
      - phpstan.rules.rule

  vixPhpstan.yii2.rules.responseStatusCodeAssignmentInController.inner:
    class: Vix\PhpstanRules\Rules\ResponseStatusCodeAssignmentInControllerRule

  vixPhpstan.yii2.rules.responseStatusCodeAssignmentInController:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.yii2.rules.responseStatusCodeAssignmentInController.inner
      ruleName: responseStatusCodeAssignmentInController
      allRules: %vixPhpstan.yii2.rules.all%
      enabledRules: %vixPhpstan.yii2.rules%
    tags:
      - phpstan.rules.rule

  vixPhpstan.yii2.rules.publicAllowWithoutConstraint.inner:
    class: Vix\PhpstanRules\Rules\PublicAllowWithoutConstraintRule

  vixPhpstan.yii2.rules.publicAllowWithoutConstraint:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.yii2.rules.publicAllowWithoutConstraint.inner
      ruleName: publicAllowWithoutConstraint
      allRules: %vixPhpstan.yii2.rules.all%
      enabledRules: %vixPhpstan.yii2.rules%
    tags:
      - phpstan.rules.rule

  vixPhpstan.yii2.rules.queryOneWithoutLimit.inner:
    class: Vix\PhpstanRules\Rules\QueryOneWithoutLimitRule

  vixPhpstan.yii2.rules.queryOneWithoutLimit:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.yii2.rules.queryOneWithoutLimit.inner
      ruleName: queryOneWithoutLimit
      allRules: %vixPhpstan.yii2.rules.all%
      enabledRules: %vixPhpstan.yii2.rules%
    tags:
      - phpstan.rules.rule

  vixPhpstan.yii2.rules.queryPerformanceSmell.inner:
    class: Vix\PhpstanRules\Rules\QueryPerformanceSmellRule

  vixPhpstan.yii2.rules.queryPerformanceSmell:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.yii2.rules.queryPerformanceSmell.inner
      ruleName: queryPerformanceSmell
      allRules: %vixPhpstan.yii2.rules.all%
      enabledRules: %vixPhpstan.yii2.rules%
    tags:
      - phpstan.rules.rule

  vixPhpstan.yii2.rules.rawSqlConditionWithVariable.inner:
    class: Vix\PhpstanRules\Rules\RawSqlConditionWithVariableRule

  vixPhpstan.yii2.rules.rawSqlConditionWithVariable:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.yii2.rules.rawSqlConditionWithVariable.inner
      ruleName: rawSqlConditionWithVariable
      allRules: %vixPhpstan.yii2.rules.all%
      enabledRules: %vixPhpstan.yii2.rules%
    tags:
      - phpstan.rules.rule

  vixPhpstan.yii2.rules.redirectReferrerWithoutFallback.inner:
    class: Vix\PhpstanRules\Rules\RedirectReferrerWithoutFallbackRule

  vixPhpstan.yii2.rules.redirectReferrerWithoutFallback:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.yii2.rules.redirectReferrerWithoutFallback.inner
      ruleName: redirectReferrerWithoutFallback
      allRules: %vixPhpstan.yii2.rules.all%
      enabledRules: %vixPhpstan.yii2.rules%
    tags:
      - phpstan.rules.rule

  vixPhpstan.yii2.rules.saveFalseWithoutReason.inner:
    class: Vix\PhpstanRules\Rules\SaveFalseWithoutReasonRule
    arguments:
      allowedNamespaces: %vixPhpstan.yii2.allowedSaveFalseNamespaces%

  vixPhpstan.yii2.rules.saveFalseWithoutReason:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.yii2.rules.saveFalseWithoutReason.inner
      ruleName: saveFalseWithoutReason
      allRules: %vixPhpstan.yii2.rules.all%
      enabledRules: %vixPhpstan.yii2.rules%
    tags:
      - phpstan.rules.rule

  vixPhpstan.yii2.rules.scenarioAssignedAfterLoad.inner:
    class: Vix\PhpstanRules\Rules\ScenarioAssignedAfterLoadRule
    arguments:
      reflectionProvider: @reflectionProvider

  vixPhpstan.yii2.rules.scenarioAssignedAfterLoad:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.yii2.rules.scenarioAssignedAfterLoad.inner
      ruleName: scenarioAssignedAfterLoad
      allRules: %vixPhpstan.yii2.rules.all%
      enabledRules: %vixPhpstan.yii2.rules%
    tags:
      - phpstan.rules.rule

  vixPhpstan.yii2.rules.sensitiveAttributeMarkedSafe.inner:
    class: Vix\PhpstanRules\Rules\SensitiveAttributeMarkedSafeRule
    arguments:
      reflectionProvider: @reflectionProvider
      sensitiveAttributePatterns: %vixPhpstan.yii2.sensitiveAttributePatterns%

  vixPhpstan.yii2.rules.sensitiveAttributeMarkedSafe:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.yii2.rules.sensitiveAttributeMarkedSafe.inner
      ruleName: sensitiveAttributeMarkedSafe
      allRules: %vixPhpstan.yii2.rules.all%
      enabledRules: %vixPhpstan.yii2.rules%
    tags:
      - phpstan.rules.rule

  vixPhpstan.yii2.rules.transactionWithoutRollbackHandling.inner:
    class: Vix\PhpstanRules\Rules\TransactionWithoutRollbackHandlingRule

  vixPhpstan.yii2.rules.transactionWithoutRollbackHandling:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.yii2.rules.transactionWithoutRollbackHandling.inner
      ruleName: transactionWithoutRollbackHandling
      allRules: %vixPhpstan.yii2.rules.all%
      enabledRules: %vixPhpstan.yii2.rules%
    tags:
      - phpstan.rules.rule

  vixPhpstan.yii2.rules.unboundedQueryResult.inner:
    class: Vix\PhpstanRules\Rules\UnboundedQueryResultRule

  vixPhpstan.yii2.rules.unboundedQueryResult:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.yii2.rules.unboundedQueryResult.inner
      ruleName: unboundedQueryResult
      allRules: %vixPhpstan.yii2.rules.all%
      enabledRules: %vixPhpstan.yii2.rules%
    tags:
      - phpstan.rules.rule

  vixPhpstan.yii2.rules.unknownActionInBehavior.inner:
    class: Vix\PhpstanRules\Rules\UnknownActionInBehaviorRule

  vixPhpstan.yii2.rules.unknownActionInBehavior:
    class: Vix\PhpstanRules\Support\ConfigurableRule
    arguments:
      rule: @vixPhpstan.yii2.rules.unknownActionInBehavior.inner
      ruleName: unknownActionInBehavior
      allRules: %vixPhpstan.yii2.rules.all%
      enabledRules: %vixPhpstan.yii2.rules%
    tags:
      - phpstan.rules.rule
