services:
  -
    class: Vix\PhpstanYiiPolicyRules\Rules\SaveFalseWithoutReasonRule
    arguments:
      allowedNamespaces: %yiiPolicy.allowedSaveFalseNamespaces%
    tags:
    tags:
      - phpstan.rules.rule
